<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sparkly.pixely">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.sparkly.pixely.activities.CameraActivity"
            android:screenOrientation="portrait" />

        <activity android:name="net.sparkly.pixely.activities.SettingsActivity" />
        <activity android:name="net.sparkly.pixely.activities.GalleryActivity" />
        <activity android:name="net.sparkly.pixely.activities.EditorActivity" />
        <activity android:name="net.sparkly.pixely.activities.PhotoActivity" />
        <activity android:name="net.sparkly.pixely.activities.SplashActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>